.mixin.out/
cachedimages/
crash-reports/
saves/
debug/
downloads/
globalresources/
impossible_data/
journeymap/
local/
localconfigs/
logs/
mod_data/
not-enough-crashes/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/

config/blockswap/known_states/

.curseclient
.qmenu_opened.marker
cherishedworlds-favorites.dat
ds_private_storage.json
hs_err*
icon.png
minecraftinstance.json
options.txt
patchouli_data.json
realms_persistence.json
rhino.local.properties
usercache.json
usernamecache.json